# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: anieto-m <anieto-m@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/05/29 15:13:18 by anieto-m          #+#    #+#              #
#    Updated: 2025/05/29 15:13:24 by anieto-m         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

echo "*.o
*.a
a.out
*.swp
*.DS_Store
programa
" > .gitignore

